Django==2.1.7
django-appconf==1.0.4
django-autoslug==1.9.8
django-el-pagination==3.3.0
django-endless-pagination==2.0
django-imagekit==4.0.2
django-markdownx==3.0.1
Markdown==3.3.3
pilkit==2.0
Pillow==8.1.0
psycopg2==2.8.6
pypandoc==1.5
pytz==2018.9
six==1.12.0
webencodings==0.5.1
