bleach==3.1.0
Django==2.1.7
django-appconf==1.0.3
django-autoslug==1.9.6
django-geojson==2.12.0
django-imagekit==4.0.2
django-leaflet==0.24.0
django-location-field==2.0.6
django-markdown==0.8.4
django-markdownx==2.0.28
django-yarn==0.0.2
Markdown==3.1
pilkit==2.0
Pillow==5.4.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
pypandoc==1.4
pytz==2018.9
six==1.12.0
webencodings==0.5.1
