asgiref==3.3.1
bibtexparser==1.2.0
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-appconf==1.0.4
django-autoslug==1.9.8
django-el-pagination==3.3.0
django-endless-pagination==2.0
django-genericadmin==0.7.0
django-grappelli==2.14.3
django-imagekit==4.0.2
django-markdownx==3.0.1
djangorestframework==3.12.2
feedparser==5.2.1
future==0.18.2
idna==2.10
Markdown==3.3.3
pathlib==1.0.1
pilkit==2.0
Pillow==8.1.0
psycopg2==2.8.6
pypandoc==1.5
pyparsing==2.4.7
python-dotenv==0.15.0
pytz==2018.9
Pyzotero==1.4.20
requests==2.25.1
six==1.12.0
sqlparse==0.4.1
urllib3==1.26.4
webencodings==0.5.1
