{% extends "blog/post_list.html" %}
{% block eventlist %}
<div class="sticky-top col-md-3 d-none d-md-block">
    <div id="events-col" class="sticky-top">
        <h2>Upcoming Events</h2>
        <ul class="list-unstyled">
            {% if events %}
            {% for event in events%}
            <li><h5>{{ event.title }}</h5></li>
            <li>{% for p in event.venue.all %} <a href="{{p.website}}">{{ p.dpt }}</a>{%if not forloop.last%}, {% endif %}{% endfor %}</li>
            <li>{{ event.day }}</li>
            <li><code>{{ event.start|time:"H:i" }}–{{ event.end|time:"H:i" }}</code></li>
            <hr>
            {% endfor %}
            {% else %}
            <li>No upcoming events.</li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}