{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1 col-sm-12">
      <img class="author-photo" src="{{ person_detail.photo.url }}"/>
    </div>
    <div class="col-md-6">
    <h3>{{ person_detail.full_name }}</h3>
    <ul class="list-unstyled">
      <li><code><a href="mailto:{{ person_detail.email }}">{{ person_detail.email }}</a></code></li>
      {% if person_detail.twitter %}
        <li><code><a href="https://twitter.com/{{person_detail.twitter }}">@{{person_detail.twitter }}</a></code></li>
      {% endif %}
      <li>{{ person_detail.get_pronouns_display }}.<a href="https://uwm.edu/lgbtrc/support/gender-pronouns/">*</a></li>
    </ul>
    <hr>
    {% for a in person_detail.current_appointments %}
      <ul class="list-unstyled">
        {% if a.website %}
          <li><a href="{{ a.website }}"><em>{{ a.title }}</em></a></li>
        {% else %}
          <li><em>{{ a.title }}</em></li>
        {% endif %}
        <li>{% if a.institution.name %}{{ a.institution.name }}{% endif %}
        {% if a.institution.parent %}| {{ a.institution.parent.name }}{% endif %}
        {% if a.institution.parent.parent %}| {{ a.institution.parent.parent.name }}{% endif %}
        {% if a.institution.parent.parent.parent %}| {{ a.institution.parent.parent.parent.name }}{% endif %}
        
        {{ a.institution.inst }}</li>
        <!-- <li>{{ affiliation.institution.loc_geojson }}</li> -->
      </ul>
    {% endfor %}
    <h5>Current Affiliations</h5>
    <hr>
    {% for affiliation in person_detail.current_affiliations %}
      <ul class="list-unstyled">
        {% if affiliation.website %}
          <li><a href="{{ affiliation.website }}"><em>{{ affiliation.title }}</em></a></li>
        {% else %}
          <li><em>{{ affiliation.title }}</em></li>
        {% endif %}
        <li>{% if affiliation.institution.name %}{{ affiliation.institution.name }}{% endif %}
        {% if affiliation.institution.parent %}| {{ affiliation.institution.parent.name }}{% endif %}
        {% if affiliation.institution.parent.parent %}| {{ affiliation.institution.parent.parent.name }}{% endif %}
        {% if affiliation.institution.parent.parent.parent %}| {{ affiliation.institution.parent.parent.parent.name }}{% endif %}
        
        {{ affiliation.institution.inst }}</li>
        <!-- <li>{{ affiliation.institution.loc_geojson }}</li> -->
      </ul>
    {% endfor %}
    <hr>
    {% if person_detail.orcid %}
      <code>orcid: <a href="https://orcid.org/{{ person_detail.orcid }}">{{ person_detail.orcid }}</a></code><br>
    {% endif %}
    {% if person_detail.pgp %}
      <code>pgp: {{ person_detail.pgp }}</code>
    {% endif %}
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-sm-12">
          {% if person_detail.vita %}
            <hr>
            <a href="{{ person_detail.vita.url }}"><button type="button" class="btn btn-primary btn-lg btn-block">Curriculum vita.</button></a>
          {% endif %}
          <p>{{ person_detail.formatted_markdown|safe }}</p>
        </div>
      </div>
    </div>
</div>
{% comment %} <div class="row">
  <div id="author_map" class="col-md-10 offset-md-1 d-none d-md-block">
  </div>
</div> {% endcomment %}
</div>
{% comment %} <script src="https://d3js.org/d3.v5.min.js"></script> {% endcomment %}
{% endblock%}
